
.index-h2 {
	color: darkgreen;
	background-color: lightgreen;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: bold;
	border: 2px solid green; 
	}

#introduction {
	color: black;
	background-color: lightblue;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	border: 1px solid purple;
	}

.introduction {
	color: black;
	background-color: lightblue;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	border: 1px solid purple;
	}

.index-container {
	color: purple;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid purple;
	padding: <one_size fits all>
	padding: 10px;
}




